#pOutput{
    background-color: lime;
    text-align: center;
    color: white;
    height: 80px;
    font-size: 70px;

}

h1{
    color: red;
    text-align:center;
}

table{
    margin: 0 auto;
}

body{
    background-color: rgb(0, 51, 204);
    color: white;
}
button{
    width: 60px;
    height: 60px;
    background-color: grey;
    font-size: 20px;
}

