body {
    background-color: rgb(255, 51, 0)
    

}
h1{
    color: darkred
}

p{
    color: rgb(255, 204, 204)
}

IMG.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto
}


